#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.login-card{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -240px;
  -webkit-box-shadow: 0 0 100px rgba(0,0,0,.08);
  box-shadow: 0 0 100px rgba(0,0,0,.08);
}

.login-card-title{
  text-align: center;
  color:#1890ff;
  font-weight: bold;
}